{% extends "base.html" %}
{% block title %}Switch Request Received &mdash; {{ customer.customer_id }}{% endblock %}
{% block maxwidth %}700px{% endblock %}
{% block content %}
  <nav class="site-nav">
    <a href="/account/{{ customer.customer_id }}">Dashboard</a>
    <a href="/" class="logout">Logout</a>
  </nav>
  <h1>Switch Request Received</h1>
  <div class="banner banner-success">
    <p>Your request to switch to <strong>{{ tariff_name }}</strong> has been logged.</p>
    <p>A member of our team will process this at your next renewal date.</p>
    <p>Reference: {{ ref }}</p>
  </div>
  <p><a href="/account/{{ customer.customer_id }}">Return to dashboard</a></p>
{% endblock %}
